<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProbPlanetIsHabitable" value="50"/>
    <add key="MinPlanetArea" value="0"/>
    <add key="MaxPlanetArea" value="100"/>
    <add key="ProbPlanet" value="60"/>
    <add key="Area1Limit" value="999"/>
    <add key="Area2Limit" value="999"/>
    <add key="Area3Limit" value="99"/>
    <add key="Area4Limit" value="9"/>
    <add key="TravelTimeInMins" value="10"/>
    <add key="ColonizationRate" value=".43"/>
    <add key="PercentageToColonize" value=".5"/>
  </appSettings>
</configuration>